{% extends 'base.html.twig' %} {# Ce template doit faire parti de mon template de base donc il doit hériter de base.html.twig / Il hérite donc de la nav des styles css etc #}

{% block body %} {# Ce template étend le block body #}

    <h1>Création d'un article !</h1>

    {{ form_start(formArticle)}} {# form_start => c'est une fonction de twig qui va nous afficher la balise ouvrante du formulaire avec la bonne méthode, la bonne action et certaines données essentiel au fonctionnement du formulaire. #}

    <div class="form-group">
        <label for="">Titre</label>
        {{ form_widget(formArticle.title) }} {# form_widget => J'aimerais que twig m'affiche un champ et je peux utilier comme ça formArticle.title et twig comprend qu'on veut afficher le title #}
    </div>

    <div class="form-group">
        <label for="">Contenu</label>
        {{ form_widget(formArticle.content) }} 
    </div>

    <div class="form-group">
        <label for="">Image</label>
        {{ form_widget(formArticle.image) }} 
    </div>

    {{ form_end(formArticle)}}  {# TWIG : FONCTION form()  <=> Permet d’afficher un formulaire Symfony | Dans cette fonction je peux passer un formulaire, je passe donc ma variable formArticle #} 
    {# form_end => J'arrête le formulaire #} {# Il va essayer d'afficher les 3 champs même si je n'ai fait qu'un form-group avec le titre uniquement. A partir du form_end si on a pas afficher nos champs comme on le souhaite, lui il va dire : tout les champs qui n'ont pas été affiché, je vais les afficher. #}

{% endblock %}