{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="article">

{% for article in articles %} {# Ici, la variable article n’éxiste pas, elle se crée au moment du for et la variable articles (au pluriel) elle existe car je l’ai passé à twig dans le BlogController #}
    <article>
        <h2>{{ article.title}}</h2>
        <div class="metadate">Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie Politique</div> {# Filtres me permet en plaçant ce symbole | de dire, tu vas afficher cette donnée mais en la formattant d’une certaine façon. Ce filtre s’appelle : date et il prend en paramètre le format de date que l’on veut.   #}
        <div class="content">
            <img src="{{ article.image }}" alt="">
            {{ article.content | raw }} {# avec article.content => Au lieu d'être un véritable paragraphe il écrit la balise <p> car par défaut, twig essaye de nous sécuriser. Si par exemple quelqu'un nous à mis un script avec un script malicieux dedans, au lieu d'éxecuter ce script, de le laisser s'interpreter il préfère nous afficher les balises tel quel. 
            // raw => brut => Ce filtre permet de nous afficher le contenu telle quelle sinon il va nous afficher les balise <p> xxx </p> #}

            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a> {# path prend 2 paramètre : 1 paramètre obligatoire (ça era le nom de la route que je veut qui apparaisse et 1 optionnel #}
        </div>
    </article>
{% endfor %}

{# SERVICE : PLACEHOLD.IT <=> Permet de choper des images de toute taille... #}

</section>

{% endblock %}
